extends layout.pug

block title
  title Error Page

block content 
  h1 Error Page
  p
    a.button.expanded(href="/books") Back to List
  div
    div
      h2.error Oooops!
      
      article.grid-container.portfolio-intro
        div
          h1 Error Message
          h5 #{error.message}
          
          h1 Error Status
          h5 #{error.status}

          h1 Error Stack
          p.lead.text-light
            | #{error.stack}